@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Pacifico&family=Poppins&family=Rubik&display=swap');
*{ 
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgba(228, 53, 0, 0.877);
    color: white;
    height: 42px;
    font-size: 26px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Andada Pro', serif;
}
nav ul{
    list-style-type: none;
}

.gameContainer{
    background-color: bisque;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.boxContainer{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Rubik', sans-serif;
    position: relative;
}
.line{
    background-color: brown;
    width: 0;
    height: 7px;
    position: absolute;
    transition: width 1s ease-in-out;
}
.box{
    background-color: orange;
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgba(255, 199, 96, 0.911);
}
.gameInfo{
    background-color: rgb(255, 94, 0);
    color: white;
    text-align: center;
    margin: 0 5vw;
    padding: 44px;
    font-family: 'Poppins', sans-serif;
}
.gameInfo h1{
    font-family: 'Pacifico', cursive;
    font-size: 44px;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.info{
    padding: 0 15px;
    font-size: 22px;
    font-weight: bolder;
    background-color: rgba(173, 64, 0, 0.911);
}
.imgBox{
    padding: 25px;
}
.imgBox img{
    transition-delay: 1s;
}
#reset{
    margin: 0 23px;
    padding: 6px 14px;
    background-color: rgb(255, 242, 218);
    border-radius: 6px;
    cursor: pointer;
    font-weight: bolder;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .boxContainer {
        grid-template-rows: repeat(3, 22vw);
        grid-template-columns: repeat(3, 22vw);
    }
}